html{
	width: 100%;
  height: 100%;
	background: #1192d3 url(http://3.bp.blogspot.com/-slMS7NVyLFE/Vji0yb_l42I/AAAAAAAAhDc/jBWU_DJexRg/s1600/islamic-architecture-art-by-mshtag21-on-deviantart.jpg) no-repeat bottom right;
  background-size: cover;
}


h1{
  text-align : center;
  font-family: 'Dosis', sans-serif;
  font-size : 250%;
}

.container{
  text-align : center;
  border-radius : 3px;
  position : relative;
  margin : auto auto auto auto;
  width : 550px;
  display : table;
  background-color : #fff;
}

.quoteBox{
  border-radius : 3px;
  position : relative;
  margin : 8px auto auto auto;
  padding : 40px 50px;
  display : table;
  background-color : #fff;
}

#arabicVerseText{
  font-size: 200%;
}

#content{
  font-family: 'Open Sans Condensed', sans-serif;
}

input[type=button]{
  cursor : pointer;
}

.condensedSanSerif{
  font-family: 'Open Sans Condensed', sans-serif;
}

.largeSize{
  font-size : 200%;
}

.mediumSize{
  font-size : 150%;
}

.smallSize{
  font-size: 130%;
}